APP_BASE_URL = XXXXXXXXX
DATABASE_URL = XXXXXXXXX
BETTER_AUTH_SECRET = XXXXXXXXX
BETTER_AUTH_URL = XXXXXXXXX
BETTER_AUTH_TRUSTED_ORIGINS = XXXXXXXXX
# SESSION_COOKIE_DOMAIN="apidojo.app"
RESEND_API_KEY = XXXXXXXXX
RESEND_FROM_EMAIL = XXXXXXXXX
RESEND_WEBHOOK_SECRET = XXXXXXXXX
CREEM_API_KEY = XXXXXXXXX
CREEM_WEBHOOK_SECRET = XXXXXXXXX
CREEM_ENV = XXXXXXXXX
CREEM_PRO_MONTHLY_PRODUCT_ID = XXXXXXXXX
CREEM_PRO_ANNUAL_PRODUCT_ID = XXXXXXXXX
# CREEM_ENTERPRISE_PRODUCT_ID =   # CURRENTLY NOT USED
